@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@theme {
  --breakpoint-tablet: 391px;
}

body {
  max-width: 500px;
  margin: 0 auto;
  padding: 0;
  background-color: #e8e8e8;
}
