@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@theme {
  --breakpoint-tablet: 391px;
}

body {
  max-width: 500px;
  margin: 0 auto;
  padding: 0;
  background-color: #e8e8e8;
}

.custom-swiper-pagination .swiper-pagination-bullet {
  background: #d9d9d9;
  transition: all 0.5s ease-in-out;
}

.custom-swiper-pagination .swiper-pagination-bullet-active {
  background: #18b491;
  width: 22px;
  border-radius: 20px;
}
